$full-hd: 290px;
$laptop: 107px;

.LeftBar {
    position: fixed;
    width: $full-hd;
    padding: 22px;

    z-index: 200;

    background-color: #fff;
    box-shadow: 0 4px 9px rgba(#000, 0.05);

    @media (max-width: 1800px) {
        width: $laptop;
        padding: 12px;
    }
}

.Leftbar__logo {
    display: block;
    width: 100%;

    margin-bottom: 18px;

    overflow: hidden;

    cursor: pointer;

    @media (max-width: 1800px) {
        margin-bottom: 10px;

        display: flex;
        justify-content: center;
    }

    & > img {
        @media (max-width: 1800px) {
            content: url("../../img/leftbar/logo-sm.png");
        }
    }
}

.Leftbar__divider {
    height: 1px;
    width: 100%;
    background-color: #d8e0e5;
}

.Leftbar__menu {
    margin-top: 15px;
    margin-bottom: 30px;

    @media (max-width: 1800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.Leftbar__menu-header,
.Leftbar__club-header {
    font-weight: 600;

    @media (max-width: 1800px) {
        font-size: 11px;
    }
}

.Leftbar__menu-item {
    display: flex;
    align-items: center;
    // margin-top: 30px;
    padding: 12px 0;

    cursor: pointer;

    img {
        margin-right: 15px;

        @media (max-width: 1800px) {
            margin: 0;
        }
    }

    span {
        font-size: 18px;

        @media (max-width: 1800px) {
            display: none;
        }
    }

    &.--active {
        margin-right: -20px;
        color: #050c42;
        font-weight: 700;

        border-right: 3px solid #050c42;

        @media (max-width: 1800px) {
            margin-right: -38px;
            padding-right: 38px;
        }
    }
}

.Leftbar__club {
    margin: 15px 0 30px;

    @media (max-width: 1800px) {
        margin: 10px 0 0 0;
    }
}

.Leftbar__club-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 25px 0 30px;

    @media (max-width: 1800px) {
        margin: 10px 0;
    }
}

.Leftbar__club-title {
    margin-top: 8px;

    font-size: 20px;
    font-weight: 600;
    color: #050c42;

    @media (max-width: 1800px) {
        display: none;
    }
}

.Leftbar__club-favorite {
    margin-top: 20px;
    padding: 10px 24px;

    display: block;
    width: 100%;
    background-color: #ecf0f3;
    border-radius: 17px;

    color: #050c42;
    list-style: none;

    @media (max-width: 1800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & > span {
        font-size: 14px;
        font-weight: 600;

        @media (max-width: 1800px) {
            display: none;
        }
    }

    li {
        margin: 8px 0;

        display: flex;
        align-items: center;

        @media (max-width: 1800px) {
            margin: 0;
        }

        & > div {
            width: 20%;
            display: flex;
            justify-content: center;

            @media (max-width: 1800px) {
                display: block;
            }
        }

        & > span {
            font-size: 14px;

            @media (max-width: 1800px) {
                display: none;
            }
        }
    }
}

.Leftbar__club-change {
    margin: 20px 0 30px;
    display: flex;
    align-items: center;

    cursor: pointer;

    @media (max-width: 1800px) {
        margin: 10px 0;
    }

    span {
        margin-left: 8px;

        font-size: 16px;
        font-weight: 700;
        color: #050c42;

        @media (max-width: 1800px) {
            display: none;
        }
    }
}

.Leftbar__feedback {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 150px 0 86px;
    padding: 8px 16px;

    background-color: #ec805b;
    border-radius: 5px;

    cursor: pointer;

    @media (max-width: 1800px) {
        margin: 82px auto 30px;

        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
    }

    & > img {
        @media (max-width: 1800px) {
            content: url("../../img//leftbar/feedback-sm.png");
        }
    }

    & > span {
        margin-left: 10px;
        color: #fff;

        @media (max-width: 1800px) {
            display: none;
        }
    }
}
